extends layout

block content
  h1= title
  p Welcome to #{title}
  #beers
       - each beer in beers
           div.beer
           div.created_at= beer.created_at
           div.title= beer.title
           div.name= beer.name
        a(href="/beers/new")!= "New Beer"
